@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Imperial+Script&family=Mea+Culpa&family=Petit+Formal+Script&family=Quicksand:wght@300..700&family=Sree+Krushnadevaraya&display=swap');
:root
#hero_image {
    text-align: center;
    margin-bottom: 30px;
}
#hero_image img {
    width: 50%;
    height: auto;
    border: 20px solid sandybrown
}
#hero_image h1 {
    font-size: 3em;
    margin-top: 20px;
    color: #333;
}
#hero_image p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.gallerycontainer img {
    width: 25%;
    height: auto;
    border-radius: 8px;
}